// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$btn-home: #1a681b;
$rose: #1a681b;

$bg-black: #0a0011;
$dark-violet: #460170;
$dark-blue: #291F9E;
$medium-violet: #8100BE;
$medium-blue: #7794FB;
$clear-pink: #F13B9E;

$border: white;
