// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #0E0000;
$rose: #F13B9E ;
$blanc: #F1F1F1;
$pastel: #C3DAC3;
$btn-home: #ffffff
