.categories {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left:  40px;

  .horizontal-scroll-box {
    width: 93vw;
    height: 65vh;
    overflow: auto;
    align-items: flex-end;
    margin-bottom: 150px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .project-box {
    max-width: 580px;
    display: flex;
    flex-direction: column;

    align-items: center;

    h3 {
      text-align: center;
    }

    a {
      text-decoration: none;
      color: white;
    }

    & > iframe {
      width: fit-content;
    }
  }

  .title-category{
    text-decoration: none;
    color: #fff;
    font-family: bely-display, serif;
    font-size: 106px;
    opacity: 0.7;
    text-align: center;
    transition: all 0.5s linear;
    text-transform: uppercase;
    position: relative;
    padding: 10px 30px;
    width: fit-content;

    &:before {
      content: " ";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 10px;
      height: 10px;
      border-top: 2px solid white;
      border-left: 2px solid white;
      transition: all 0.2s linear;
      transition-delay: all 0.2s linear;
    }
    &:after {
      content: " ";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid white;
      border-right: 2px solid white;
      transition: all 0.2s linear;
      transition-delay: all 0.2s linear;
    }
    &:hover::before, &:hover::after {
      width: 15%;
      height: 30%;
      transition-delay: 0s;
    }

    &:hover {
      // background: white;
      background: rgb(110,0,0);
      background: linear-gradient(320deg, rgba(110,0,0,1) 29%, rgba(241,59,158,1) 100%);
      color: white;
      opacity: 1;
      // box-shadow: 0 0 50px white;
      transition-delay: all 0.5s linear;
      transition: all 0.5s linear;
    }
  }
}
