
.page_profil {
  display: flex;
  width: 100%;
  margin-top: 35px;
}

.grid {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.navigation_profil {
  margin: 25px 0;
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
}


.infos {
  width: 30%;
  .test_hidden {
    display: none;

  }
}
