
.page_profil {
  display: flex;
  width: 100%;
  margin-top: 35px;
}

.grid {
  width: 70%;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.infos {
  width: 30%;
}
