
.loop {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

section {
  border: 2px solid red;
  position: relative;
  z-index: 0;
  text-align: center;
  min-height: 300px;
  max-height: 700px;
  height: 635px;
  margin: 50px auto;
  width: 450px;
}
