html.projects-top,
html.projects-top body {
  overflow: hidden;
  height: 100%;
}

.loop {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

section {
  border: 2px solid red;
  position: relative;
  z-index: 0;
  text-align: center;
  min-height: 300px;
  max-height: 700px;
  height: 635px;
  margin: 50px auto;
  width: 450px;
}

.top-title{
  color: rgba(83, 83, 83, 0.3);
  z-index: -10;

  &:first-child {
    position: fixed;
  }

  &:nth-child(2) {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    right: 0;
    text-align: right;
  }
}
