<div class="container py-3">
  <div class="page_profil">
    <div class="grid">
      <%= render "shared/banner" %>
      <%= render "shared/card_grid", locals: {projects: @projects} %>
    </div>

    <div class="infos">
      <%= render "shared/profil_info" %>
    </div>
  </div>
</div>

<%= render partial: "shared/user_likes", locals: { user: @user, projects: @liked_projects } %>

<% console %>
