<div class="banner">
  <% if current_user == @user%>
      <h1>Welcome <%= @user.nickname %>!</h1>
      <p class="typing">Here, you can manage all your projects!
    <% else %>
      <h1>Welcome on <%= @user.nickname.capitalize %>'s portfollio!</h1>
    <% end %>
</div>
