<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1352114793/fr/photo/plateau-tournant-dj-pla%C3%A7ant-%C3%A0-la-main-tonearm-sur-disque-vinyle-blanc-concept-musical-vue-de.jpg?s=612x612&w=0&k=20&c=qhDuz8I9nxWz87-c6JBYy8YamW-0YNz5OEKV--mkuNM=)">
    projet
  </div>


</div>
