
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://dr.savee-cdn.com/things/thumbnails/6/1/77b68ffe82f0d0ad49ce5c.webp)">
    <%= link_to project.title, project_path(project) %>
  </div>
