<div class="footer">

  <div class="footer-links">
    <p><%= link_to "About us", about_path %></p>
  </div>
  <div class="footer-mesg">
    <p>L'accroche makes you create and improve your musical network <i class="fas fa-heart"></i></p>
  </div>
</div>
