<div class="container contact_form">
  <div class="mb-3 contact_form">
    <label for="FormContactInput1" class="form-control me-2">write to :</label>
    <input type="email" class="form-control me-2" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
    <div class="mb-3 contact_form">
    <label for="FormContactInput1" class="form-label">From :</label>
    <input type="email" class="form-control me-2" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3 contact_form">
    <label for="FormContactInput1" class="form-label">Your message</label>
    <textarea class="form-control me-2" id="exampleFormControlTextarea1" rows="3" placeholder="Type your message"></textarea>
  </div>
</div>
