<li class="cursor is-active" data-action="click->profil#toggleProjects" data-profil-target="projectBtn">
  <% if current_user == @user%>
    My projects
  <% else %>
    <%= @user.nickname.capitalize %>'s projects
  <% end %>
</li>
<li class="cursor"  data-action="click->profil#toggleLikes" data-profil-target="likeBtn">
  <% if current_user == @user%>
    My likes
  <% else %>
    <%= @user.nickname.capitalize %>'s likes
  <% end %>
</li>

<% if current_user == @user%>
  <li class="cyberpunk"  data-profil-target="newProject">
    <%= link_to "+ Project", new_project_path%></li>
<% end %>
