<div class="profil-info">
  <div class="contenu-profil">
    <div class="picture">
      <div class="user-initials">
        <%= @user.first_name[0].capitalize %><%= @user.last_name[0].capitalize  %>
      </div>
      <%= image_tag "https://pbs.twimg.com/media/DkV1PXmXoAA7aBS.jpg", class: "image_profil-info"%>
    </div>
    <h1><%= @user.first_name %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, sequi.</p>
    <a href="" class="btn-contact">contact</a>
    <div class="profil-info-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
