<div class="container about">
  <h1>About us</h1>
  <br />
  <p>
    L'Accroche is a game-changing platform that connects musicians with talented graphic designers and video editors. Our website is carefully designed and intuitive to use, making it easy for musicians to find the perfect team to help bring their vision to life.
    Musicians often struggle to find the right designers and editors to collaborate with. They may not know where to look, or they may not have the time or resources to find and vet potential collaborators. That's where L'Accroche comes in. <br />
    <br />
    With L'Accroche, musicians can easily search for designers and editors based on their specific needs and budget. They can view portfolios and past work, read reviews and ratings from other musicians, and collaborate with their chosen team to create stunning visuals and videos. <br />
    <br />
    Our team has extensive experience in the music and creative industries, and we understand the challenges that musicians face. We're passionate about helping musicians connect with the best talent and bring their creative ideas to life. <br />
    <br />
    This project has been carried by four fullstack developers : <a href="https://github.com/dimitridepardieu" target="_blank">Dimitri Depardieu</a>, <a href="https://github.com/LucasTymen" target="_blank">Lucas Tymen</a>, <a href="https://github.com/Mathieu-Warocquier" target="_blank">Mathieu Warocquier</a> and <a href="https://github.com/Arnaud-Rigourd" target="_blank">Arnaud Rigourd</a>.
  </p>
</div>
