<main>
  <div id="canvasContainer"
    data-grid="15"
    data-mouse="0.13"
    data-strength="0.15"
    data-controller="sketch"
  >

    <%= image_tag "daft_punk.jpg" %>
  </div>
  <div class="content_homepage">
    <h2 class="content_title" >L'ACC
      ROCHE</h2>
  </div>

</main>
