<div class="contenu-home">
  <div id="canvasContainer"
    data-grid="15"
    data-mouse="0.13"
    data-strength="0.15"
    data-controller="sketch"
  >

    <%= image_tag "daft_punk.jpg" %>
  </div>

  <div class="text-home-page">
    <div class="content_homepage">
      <%= link_to "Discover", top_projects_path, class: "btn-direction" %>
      <h2 class="content_title" >L'ACC
        ROCHE</h2>
      <%= link_to "universe", projects_path, class: "btn-direction" %>
    </div>
  </div>
</div>
