<h1>Welcome <%= @user.nickname %>!</h1>
<h4>Here, you can manage all your projects</h4>

<h2>My projects</h2>

<div class="cards">

</div>

<div class="profil">
  <div class="avatar">

  </div>

  <p><%= @user.first_name %></p>

  <%# <%= link_to "contact", "TODO" %>
</div>

<% console %>
