<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>[Projects]</h1>

      <ul>
        <% @projects.each do |p| %>
        <li><%= p.title %></li>
        <% end %>
      </ul>


      <%= render "shared/profil_info"%>

    </div>
  </div>
</div>
