
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                  url("https://cdn.pixabay.com/photo/2016/11/22/19/15/hand-1850120_1280.jpg");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 15px;
  border-top: 1px solid rgb(125, 125, 125);
  border-left: 1px solid rgb(125, 125, 125);
  padding-left: 25px;


  h1 {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px $rose;
      font-size: 48px;
      font-weight: bold;
    }

  .typing {
    font-size: 30px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    width: 36ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: $body-font;
  }

  @keyframes typing {
    from {
      width: 0
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
}
