.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  position: relative;


  a {
    text-decoration: none;
    color: white;
    opacity: 0.7;
    transition: opacity 400ms;


    &:hover {
      opacity: 1;
    }
  }


  .card-category{
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 0 10px 0 10px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    height: 250px;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 3px $rose;
    width: 250px;
    cursor: pointer;
  }
}

.cursor {
  cursor: pointer;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
