.chatbox {
  background-color: #0f0f0f;
  position: absolute;
  top: 76px;
  right: 5px;
  width: 550px;
  height: 645px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  z-index: 1;
  border-radius: 0 10px 0 10px;
  border: 1px solid #454545be;

  .chatroom-list {
    display: flex;
    flex-direction: column;
    padding: 8px;


    .chatroom_name {
      color: white;
      font-family: $body-font;
      padding: 10px;
      transition: all 500ms linear;

      &:hover {
        background-color: $dark-violet;
      }
    }
  }

  h1 {
    font-family: $body-font ;
    color: white;
    padding: 16px;
    margin-top: 8px;
    margin-left: 12px;
    text-align: center;
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 20px;
      height: 20px;
      border-top: 2px solid white;
      border-left: 2px solid white;
    }

    &:after {
      content: " ";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid white;
      border-right: 2px solid white;
    }
  }
}

.chatroom {

  display: flex;
  flex-direction: column;
  height: 645px;
  width: 100%;
  position: relative;

  h1 {
    margin-top: 20px;
    color: white;
    padding: 30px 10px 30px;
    // border-bottom: 1px solid;
    position: relative;
    display: inline-block;

    &:before {
      content: " ";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 20px;
      height: 20px;
      border-top: 2px solid white;
      border-left: 2px solid white;
    }

    &:after {
      content: " ";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid white;
      border-right: 2px solid white;
    }
  }

  .btn {
    background-color: $dark-violet;
    border: 1px solid white;
  }
}
