.chatbox {
  background-color: rgb(15, 15, 15);
  position: absolute;
  top: 76px;
  right: 8px;
  width: 320px;
  height: 510px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  z-index: 1;
  border-radius: 10px 0 10px 0;

  .chatroom-list {
    display: flex;
    flex-direction: column;
    padding: 8px;

    p {
      color: white;
      font-family: $body-font;
      padding: 10px;
      transition: all 500ms linear;

      &:hover {
        background-color: $dark-violet;
      }
    }
  }

  h1 {
    font-family: $body-font ;
    color: white;
    padding: 16px;
    margin-top: 8px;
    margin-left: 12px;
    text-align: center;
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 20px;
      height: 20px;
      border-top: 2px solid white;
      border-left: 2px solid white;
    }

    &:after {
      content: " ";
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid white;
      border-right: 2px solid white;
    }
  }
}
