.navbar-lewagon {
  justify-content: space-between;
  background: none;
  color: #F13B9E;
  font-family: $body-font;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }
}

a.nav-link {
  color: $rose;
}

.avatar {
  border: none;
  transition: border 500ms;
    &:hover {
     border: 2px solid $rose;
    }
}
