
.profil-info {
  font-family: $body-font;
  height: 550px;
  width: 400px;
  // suppression du background-color
  // ajouter les borders aux coins
  backdrop-filter: blur(5px);
  // suppression du border radius
  border-top: 1px solid rgb(125, 125, 125);
  border-left: 1px solid rgb(125, 125, 125);
  position: sticky;
  top:10px;


    .contenu-profil {
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      overflow: hidden;
      padding: 0 20px;

      // Modif sur le before / Arnaud


      .user-initials {
        position: absolute;
        color: #d3d3d31f;
        font-size: 323px;
        font-weight: bold;
        left: -144px;
        top: -217px;
        z-index: -1;
      }
      // fin de la modif
    }

  .picture {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 40px;

    .image_profil-info {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: 2px solid #460170;
    }
  }

  h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    color: white;
    text-align: center;
  }

  .btn-contact {
    color: white;
    font-family: $headers-font;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    background: linear-gradient(317deg, #291F9E 30%, #8100BE 100%);
    width: 200px;
    padding: 8px 0;
    border-radius: 8px;
    font-weight: 500;
    margin-top: 40px;
    box-shadow: 0 2px 16px -24px #291F9E;
  }

  .profil-info-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 24px;
    margin: 10px 10px;
    position: absolute;
    bottom: 0;

    // -----------


    // ------------------

    .fab {
      color: #8100BE;
      opacity: 0.4;
      text-decoration: none;
      padding: 0 10px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
