.profil-to-email {
  position: sticky;
  top: 85px;
}

.profil-info {
  font-family: $body-font;
  height: 600px;
  width: 400px;
  backdrop-filter: blur(5px);
  border-radius: 0 10px 0 10px;


  &:before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-left: 2px solid white;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }

  .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    opacity: 1;
    transition: all ease 1s;
    &.hidden {
      position: absolute;
      opacity: 0;
      top: 0;
      z-index: -11;
    }

    .back {
    color: white;
    background: none;
    border: 1px solid $dark-violet;
    }

  }


    .contenu-profil {
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      overflow: hidden;
      padding: 0 20px;
      opacity: 1;
      transition: all ease 1s;

      .show-more {
        color: rgba(255, 255, 255, 0.598);
        background: none;
        border: none;
      }

      .overflow {
        color: white;
        text-align: left;
      }

      p {
        width: 100%;
      }

      .collaborations {
        border-bottom: 1px solid gray;
        border-top: 1px solid grey;
        padding: 10px 0;
      }

      &.hidden {
        position: absolute;
        opacity: 0;
      }

      .user-initials {
        position: absolute;
        color: #d3d3d31f;
        font-size: 323px;
        font-weight: bold;
        left: -149px;
        top: -140px;
        z-index: -1;
      }
    }

  .picture {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 5px auto;

    .image_profil-info {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: 2px solid #460170;
    }
  }

  h1 {
    color: white;
    text-align: center;
    margin: 10px 0;
  }

  .btn-contact {
    color: white;
    font-family: $headers-font;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    background: linear-gradient(317deg, #291F9E 30%, #8100BE 100%);
    width: 200px;
    padding: 8px 0;
    border-radius: 8px;
    font-weight: 500;
    margin-top: 40px;
    box-shadow: 0 2px 16px -24px #291F9E;
  }

  .profil-info-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 24px;
    margin: 10px 10px;
    bottom: 0;

    // -----------


    // ------------------

    .fab {
      color: #8100BE;
      opacity: 1;
      text-decoration: none;
      padding: 0 10px;

      &:hover {
        opacity: 0.4;
      }
    }
  }
}

.contact_form {
  height: 100%;
  overflow: scroll;
}
