.search-form-control {
  position: relative;
  width: 600px;

  .btn {
    position: absolute;
    margin-right: 8px;
    top: 8px;
    bottom: 8px;
    right: 8px;
    background-color: $dark-violet;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 20px;
    opacity: 1;
    transition: all 300ms linear;
    text-transform: uppercase;

      &:hover {
        background-color: $medium-violet;
        opacity: 0.7;
      }
    }

    .form-control {
      height: 3.5rem;
      background-color: white;
      opacity: 1;
      border: 0;
      border-radius: 40px;
      transition: all 500ms linear;
    }

    .form-control:focus {
      border: 0.8px solid $medium-violet;
      outline: none !important;
      box-shadow: 0 0px 6px $medium-violet;
    }
}
